<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
    <div class="quote-body">
      <div class="form-group">
        <b>Post a quote!</b><br>
        <%= f.text_field :body, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "Post", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
